In [1]:
import pandas as pd
import numpy as np

In [2]:
#use dataframe to import the dataset
df = pd.read_csv("C:/Users/darth/Dropbox/Study/Study/Business Analytics/LA/2019.2.25/rtb_exercise.csv")
df.head()

   dc  atype  bidf  instl  isp  nt mfr period
0   1      8   0.0      0    1   1  其他     晚上
1   1      8   0.0      0    0   1  小米     下午
2   1      8   0.0      1    3   1  华为     晚上
3   1      8   0.0      0    2   1  华为     下午
4   1      8   0.0      0    3   1  酷派     晚上

In [17]:
# list the unique values in mfr
df.mfr.unique()

array(['Others', '小米', '华为', '酷派', '三星', '苹果', 'OPPO', 'vivo', '金立', '魅族'],
      dtype=object)

In [18]:
df = df.replace('其他', 'Others')
df = df.replace('小米', 'Xiaomi')
df = df.replace('华为', 'Huawei')
df = df.replace('酷派', 'Coolpad')
df = df.replace('三星', 'Samsung')
df = df.replace('苹果', 'Apple')
df = df.replace('金立', 'Gionee')
df = df.replace('魅族', 'Meizu')
df = df.replace('晚上', 'Evening')
df = df.replace('下午', 'Afternoon')
df = df.replace('上午', 'Morning')

df.head()

   dc  atype  bidf  instl  isp  nt      mfr     period
0   1      8   0.0      0    1   1   Others    Evening
1   1      8   0.0      0    0   1   Xiaomi  Afternoon
2   1      8   0.0      1    3   1   Huawei    Evening
3   1      8   0.0      0    2   1   Huawei  Afternoon
4   1      8   0.0      0    3   1  Coolpad    Evening

In [19]:
df.to_csv('C:/Users/darth/Dropbox/Study/Study/Business Analytics/LA/2019.2.25/rtb_exercise_Eng.csv')